body {
    font-family: 'Courier New', Courier, monospace, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main {
    padding: 1em;
    margin: 0 auto;
    max-width: 500px;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1em;
}

section {
    margin: 20px 0;
}

.mask-for-range-slider {
    position: relative;
    display: flex;
    width: 100%;
    height: 50px;
    background-color: #f8f9fa;
    overflow: hidden;
    z-index: 1;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.2);

    .mask {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        height: 100%;
        background-color: #fff;
        z-index: 2;
    }
}

.full-width {
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    justify-content: center;
    align-items: center;
}

.grid3x3 {
    display: grid;
    grid-template-columns: repeat(3, 15px);
    grid-template-rows: repeat(3, 15px);
    gap: 5px;
    margin: 20px 0;
}

.pattern-cell {
    border: 1px solid black;
}

.checkbox-cell, .pattern-cell {
    display: flex;
    justify-content: center;
    align-items: center;

    input {
        margin: 0;
    }
}

.pattern-cell.filled {
    background-color: black;
}